body {
    background-color: #1e1b1c;
}

.hidden{
    display: none;
    transition-duration: 200ms;
}
.neon-text{
    color: #E9D1FF;
    text-shadow: 0 0 15px #7D26FF; 
    font-family: 'Comfortaa', cursive;
    transition-duration: 200ms;
}
.neon-text-disabled{
    color:#2e2e2e;
    text-shadow: 0 0 15px black;
    font-family: 'Comfortaa', cursive;
    transition-duration: 200ms;
}

#start-menu-btn{
    width: 600px;
    height: 140px;
    font-size: 80px;
    border-radius: 20px;
}

#restart-btn{
    width: 60px;
    height: 14px;
    font-size: 8px;
    border-radius: 20px;
}

#start-menu .logo{
    width: 100%;
}
#start-menu .line{
    width: 100%;
}

#game-table{
    border-collapse:separate;
    border-spacing: 10px 10px;
}
#game-table img{
    display:block;
    margin-right: auto;
    margin-left: auto;
    width:80%;
}
.turn-checker:hover{
    -webkit-filter: drop-shadow(0px 0px 10px rgb(190, 190, 190));
    filter: drop-shadow(2px 2px 10px rgb(204, 204, 204));
    transition-duration: 200ms;
}

.light-field{
    background-color: #363233;
    width: 10px;
    height: 10px;
    justify-items: center;
    justify-content: center;
}
.dark-field{
    background-color: #161414;
    width: 10px;
    height: 10px;
}

.in-range{
    opacity: 0.5;
}
.in-range:hover{
    opacity: 0.1;
    transition-duration: 200ms;
}

